.es-tag {
  @include fontSize(10px);
  display: inline-block;
  vertical-align: middle;
  padding: 0px 5px;
  border-radius: 2px;
  height: 20px;
  font-weight: bold;
  border: 1px solid transparent;
  white-space: nowrap;
  min-width: fit-content;

  & + .es-tag {
    margin-left: 4px
  }

  &.size {}

  &.type-primary {
    @include color(#2D5CF6);
    border: 1px solid #2D5CF6;
  }

  &.type-warning {
    @include color(#FF7D00);
    border: 1px solid #FF7D00;
  }
}
