@import "@/style/mixin.scss";

.el-input {
  @include widthAndHeight(100%, 32px);
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #244bf1 !important;
}

.el-checkbox__inner:hover {
  border-color: #244bf1 !important;
}

// 多选框tag样式
.el-select__tags {
  .el-tag--info {
    background-color: #fff;
    color: #000000;

    .el-tag__content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      background-color: #e5e6eb;
    }
  }
}

.el-input-group__append {
  box-shadow: none;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  line-height: 22px;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: #244bf1 !important;
  background-color: #244bf1 !important;
}

.el-radio__input.is-checked + .el-radio__label {
  color: #244bf1 !important;
}

.el-select .el-select__wrapper {
  background: #f4f5f7 !important;
  box-shadow: none;
}

.el-select .is-hovering {
  box-shadow: none !important;
  border: 0 !important;
}

.el-select .is-focused {
  box-shadow: 0 0 0 1px #165dff inset !important;
  background-color: #ffffff !important;
}
.el-input__wrapper.is-focus {
  box-shadow: 0 0 0 1px #165dff inset !important;
  background-color: #ffffff !important;
}

.el-select .select-trigger .el-input--suffix {
  .is-focus {
    background: #ffffff !important;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

.el-input__wrapper {
  background-color: #f4f5f7 !important;
  box-shadow: none !important;
}

.el-table thead {
  @include font(14px, 400, #1c232f, 22px);
}

.el-table__header-wrapper {
  background-color: #f2f3f5;
}

.el-dialog__body {
  padding-top: 0;
  padding-bottom: 0;
}

.el-button--primary {
  background: #2d5cf6 !important;
  color: #ffffff !important;

  &:hover {
    background-color: #507ef7 !important;
  }
}

.el-button {
  background-color: #f3f4f7;
  color: #5b6985;
  border: none;
  min-width: 80px;
}

.el-button:focus,
.el-button:hover {
  background-color: #e7e8ef;
  color: #5b6985;
}

.el-cascader-node.in-active-path,
.el-cascader-node.is-active,
.el-cascader-node.is-selectable.in-checked-path {
  color: #1c232f !important;
  font-weight: 600 !important;
}

.el-input.is-disabled .el-input__wrapper {
  box-shadow: none;
}

.el-cascader {
  width: 100%;
}

.el-cascader .el-input.is-focus .el-input__wrapper {
  box-shadow: none;
}

.el-input-number {
  width: 100% !important;
}

.el-popper {
  .el-select-dropdown {
    .el-scrollbar {
      .el-select-dropdown__wrap {
        .el-select-dropdown__list {
          .el-select-dropdown__item {
            color: #1c232f;
          }

          .selected {
            font-weight: 600;
            color: #1c232f;
            background-color: #f4f5f7;
          }
        }
      }
    }
  }
}

.el-select__popper {
  z-index: 4000 !important;
}

.el-cascader-node.in-active-path,
.el-cascader-node.is-active,
.el-cascader-node.is-selectable.in-checked-path {
  font-weight: 600;
  color: #1c232f;
  background-color: #f4f5f7;
}

.el-select {
  --el-select-input-focus-border-color: #507ef7 !important;
}

.el-input__wrapper .el-input__inner {
  text-align: left;
}

.el-select-dropdown__item {
  @include font(14px, 400, #1c232f, 34px);
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background: #f4f5f7;
}

.el-select-dropdown__item.selected {
  @include font(14px, 600, #1c232f, 34px);
}

.el-input__wrapper:hover {
  box-shadow: 0 0 0 1px #e5e6ea inset;
  background-color: #e5e6ea;
}

#app {
  .el-switch.is-checked .el-switch__core {
    background-color: #244bf1;
    border-color: #244bf1;
  }

  .el-switch__core {
    background-color: #dcdfe6;
  }

  .slider-wrapper .el-slider__bar {
    background-color: #e4e7ed;
  }

  .el-select__wrapper {
    background-color: #f4f5f7;
    box-shadow: none;
  }

  .el-select__wrapper.is-hovering:not(.is-focused) {
    box-shadow: none;
  }

  .el-select__wrapper:hover {
    box-shadow: none;
  }

  .el-input-number .el-input__inner {
    text-align: left;
  }

  .el-table th.el-table__cell {
    background-color: #f2f3f5;
  }
  .el-tag.is-closable {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.9);
    font-size: 12px;
    font-weight: 400;
  }
}

.el-table__row {
  height: 48px;
}

.el-table__header {
  height: 48px;
  border-bottom: 1px solid #f2f3f5;
}
.el-textarea__inner {
  background-color: #f4f5f7;
  box-shadow: none;
}
.el-textarea__inner:hover {
  box-shadow: none;
}

.el-textarea__inner:focus {
  box-shadow: none;
}

.el-breadcrumb__inner {
  cursor: pointer;
}

.el-textarea .el-input__count {
  background-color: transparent;
}

.el-breadcrumb__inner {
  cursor: pointer;
}

.el-textarea .el-input__count {
  background-color: transparent;
}

.image-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--el-fill-color-light);
  color: var(--el-text-color-secondary);
  font-size: 30px;
}

.el-table__cell {
  overflow: hidden;
}

.el-table .el-table__cell {
  padding: 0;
}

html .el-message--info {
  background: #eaedfe;
  border-radius: 4px;
  border: 1px solid #244bf1;
  font-weight: 400;
  font-size: 14px;
  // color: rgba(0, 0, 0, 0.9);
  line-height: 22px;
  --el-message-text-color: rgba(0, 0, 0, 0.9);
  .el-message-icon--info {
    display: none;
  }
}
