$es-bd-color-solid: #F1F2F7;
$es-bd-color-dotted: #E5E6EA;

$es-bg-color-main: #165DFF;
$es-bg-color-label: #FF4F5B;
$es-bg-color-assist: #FFBC44;

$es-bg-color-success: #00B42A;
$es-bg-color-warning: #FF7D00;
$es-bg-color-danger: #F1463E;

$es-text-color-title: #1C232F;
$es-text-color-assist: #919DB5;
$es-text-color-tip: #C8CEDA;
$es-text-color-main: #5B6985;
// $es-text-color-main: $es-bg-color-main;

$es-text-fs-main: 14px;

$es-text-fw-main: 400;

$es-text-title: rgba(28, 35, 47, 1);
$es-text-sub-title: rgba(91, 105, 133, 1);

$es-bd-radius: 8px;

$es-mg-4: $es-bd-radius * 0.5;
$es-mg-8: $es-bd-radius;
$es-mg-12: $es-bd-radius * 1.5;
$es-mg-16: $es-bd-radius * 2;
$es-mg-24: $es-bd-radius * 3;
$es-mg-32: $es-bd-radius * 4;
$es-mg-40: $es-bd-radius * 5;

$es-fs-36: $es-mg-8 * 4.5;
$es-fs-32: $es-mg-32;
$es-fs-28: 28px;
$es-fs-24: $es-mg-24;
$es-fs-22: 22px;
$es-fs-20: $es-mg-8 * 2.5;
$es-fs-18: 18px;
$es-fs-16: $es-mg-16;
$es-fs-14: 14px;
$es-fs-12: $es-mg-12;

$es-lh-36: $es-fs-36;
$es-lh-32: $es-fs-32;
$es-lh-28: $es-fs-28;
$es-lh-26: $es-fs-28;
$es-lh-24: $es-fs-24;
$es-lh-22: $es-fs-22;
$es-lh-20: $es-fs-20;
$es-lh-18: $es-fs-18;
$es-lh-16: $es-fs-16;
$es-lh-14: $es-fs-14;
$es-lh-12: $es-fs-12;

$es-white-10: rgba(255, 255, 255, 1);
$es-white-9: rgba(255, 255, 255, .9);
$es-white-8: rgba(255, 255, 255, .8);
$es-white-7: rgba(255, 255, 255, .7);
$es-white-6: rgba(255, 255, 255, .6);
$es-white-5: rgba(255, 255, 255, .5);
$es-white-4: rgba(255, 255, 255, .4);
$es-white-3: rgba(255, 255, 255, .3);
$es-white-2: rgba(255, 255, 255, .2);
$es-white-1: rgba(255, 255, 255, .1);
$es-white-0: rgba(255, 255, 255, 0);

$es-black-10: rgba(0, 0, 0, 1);
$es-black-9: rgba(0, 0, 0, .9);
$es-black-8: rgba(0, 0, 0, .8);
$es-black-7: rgba(0, 0, 0, .7);
$es-black-6: rgba(0, 0, 0, .6);
$es-black-5: rgba(0, 0, 0, .5);
$es-black-4: rgba(0, 0, 0, .4);
$es-black-3: rgba(0, 0, 0, .3);
$es-black-2: rgba(0, 0, 0, .2);
$es-black-1: rgba(0, 0, 0, .1);
$es-black-0: rgba(0, 0, 0, 0);

$es-fw-bold: 600;
$es-fw-normal: 400;

$es-bg-screen: rgba(228, 230, 238, 1);

@mixin fontSize($size, $lh: 8px) {
  font-size: $size;
  line-height: $size + $lh;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin color($color, $opacity: 1, $type: color) {
  #{$type}: rgba($color, $opacity);
}

@mixin one-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin more-ellipsis($line: 3) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}


/**
  $size: 字体尺寸-default: 12px
  $weight: 字体粗细-default: 400
  $color: 颜色-default: rgba(0,0,0,.4)
  $lh: 行高-default: 20px
**/
@mixin font($size: 12px, $weight: 400, $color: rgba(0, 0, 0, .4), $lh: 20px) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $lh;
}

/**
  盒样式
**/
@mixin box( $padding: 'none', $margin: 'none', $background: 'none', $borderRadius: 'none', $border: 'none', $boxShadow: 'none'){
  box-sizing: border-box;
  padding: $padding;
  margin: $margin;
  background: $background;
  border-radius: $borderRadius;
  border: $border;
  box-shadow: $boxShadow;
}


// 设置 flex 布局
@mixin flex($align: center, $justify: center, $wrap: wrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

// 设置 margin
@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin: $top $right $bottom $left;
}

// 设置 padding
@mixin padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
  padding: $top $right $bottom $left;
}

// 设置宽高
@mixin widthAndHeight($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

// 绝对定位
@mixin absolute($zIndex: 1, $top: none, $right: none, $bottom: none, $left: none) {
  position: absolute;
  z-index: $zIndex;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// 相对定位
@mixin relative($zIndex: 1, $top: none, $right: none, $bottom: none, $left: none) {
  position: relative;
  z-index: $zIndex;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// 固定定位
@mixin fixed($zIndex: 1, $top: none, $right: none, $bottom: none, $left: none) {
  position: fixed;
  z-index: $zIndex;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// 文字超出一行显示省略
@mixin textOverflow( $number: 1 ) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
}