
.van-popup--bottom.van-popup--round{
  border-radius: 8px 8px 0px 0px !important;
}

.van-toast--loading{
  background: #000000 !important;
}
.van-toast{
  background: #000000 !important;
}
.van-toast__text{
  color: rgba(255,255,255,0.7);
}