$es-bd-color-solid: #f1f2f7;
$es-bd-color-dotted: #e5e6ea;

$es-bg-color-main: #165dff;
$es-bg-color-label: #ff4f5b;
$es-bg-color-assist: #ffbc44;

$es-bg-color-success: #00b42a;
$es-bg-color-warning: #ff7d00;
$es-bg-color-danger: #f1463e;

$es-text-color-title: #1c232f;
$es-text-color-assist: #919db5;
$es-text-color-tip: #c8ceda;
$es-text-color-main: #5b6985;
// $es-text-color-main: $es-bg-color-main;

$es-text-fs-main: 14px;

$es-text-fw-main: 400;

$es-text-title: rgba(28, 35, 47, 1);
$es-text-sub-title: rgba(91, 105, 133, 1);

$es-bd-radius: 8px;

$es-mg-4: $es-bd-radius * 0.5;
$es-mg-8: $es-bd-radius;
$es-mg-12: $es-bd-radius * 1.5;
$es-mg-16: $es-bd-radius * 2;
$es-mg-24: $es-bd-radius * 3;
$es-mg-32: $es-bd-radius * 4;
$es-mg-40: $es-bd-radius * 5;

$es-fs-36: $es-mg-8 * 4.5;
$es-fs-32: $es-mg-32;
$es-fs-28: 28px;
$es-fs-24: $es-mg-24;
$es-fs-22: 22px;
$es-fs-20: $es-mg-8 * 2.5;
$es-fs-18: 18px;
$es-fs-16: $es-mg-16;
$es-fs-14: 14px;
$es-fs-12: $es-mg-12;

$es-lh-36: $es-fs-36;
$es-lh-32: $es-fs-32;
$es-lh-28: $es-fs-28;
$es-lh-26: $es-fs-28;
$es-lh-24: $es-fs-24;
$es-lh-22: $es-fs-22;
$es-lh-20: $es-fs-20;
$es-lh-18: $es-fs-18;
$es-lh-16: $es-fs-16;
$es-lh-14: $es-fs-14;
$es-lh-12: $es-fs-12;

$es-white-10: rgba(255, 255, 255, 1);
$es-white-9: rgba(255, 255, 255, 0.9);
$es-white-8: rgba(255, 255, 255, 0.8);
$es-white-7: rgba(255, 255, 255, 0.7);
$es-white-6: rgba(255, 255, 255, 0.6);
$es-white-5: rgba(255, 255, 255, 0.5);
$es-white-4: rgba(255, 255, 255, 0.4);
$es-white-3: rgba(255, 255, 255, 0.3);
$es-white-2: rgba(255, 255, 255, 0.2);
$es-white-1: rgba(255, 255, 255, 0.1);
$es-white-0: rgba(255, 255, 255, 0);

$es-black-10: rgba(0, 0, 0, 1);
$es-black-9: rgba(0, 0, 0, 0.9);
$es-black-8: rgba(0, 0, 0, 0.8);
$es-black-7: rgba(0, 0, 0, 0.7);
$es-black-6: rgba(0, 0, 0, 0.6);
$es-black-5: rgba(0, 0, 0, 0.5);
$es-black-4: rgba(0, 0, 0, 0.4);
$es-black-3: rgba(0, 0, 0, 0.3);
$es-black-2: rgba(0, 0, 0, 0.2);
$es-black-1: rgba(0, 0, 0, 0.1);
$es-black-0: rgba(0, 0, 0, 0);

$es-fw-bold: 600;
$es-fw-normal: 400;

$es-bg-screen: rgba(228, 230, 238, 1);
